{
"extends":"airbnb",
"env": {
  "browser": true,
  "es6": true,
  "node": true,
  },
"parser": "babel-eslint",
"globals": {
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "it": true,
    "xdescribe": true,
    "xit": true
  },
"rules": {
  "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
