
.game-details__actions{
  position:absolute;
  bottom:-5%;
  right:-5%;
  width: 20%;
}
.game-details__banner__header h1{
  text-shadow: 0px 0px 3px #191919,0px 0px 10px #000;
}

.game-details__meta{
  position:absolute;
  bottom: 10px;
  left:30%;
  height: 100px;
  width: 70%;
}
.stars{
  color: aqua;
}
