.game-details__banner{
  position:relative;
  height: 550px;
  background-image:url('http://via.placeholder.com/1440x550');
  color: #fff;
}
.game-details__banner__header{
  position:absolute;
  bottom:110px;
  left:30%;
  width: 70%;
}
