$font-color: #fff;
.banner{
  position:relative;
  height: 550px;
  background-image:url('http://via.placeholder.com/1440x550');
  background-attachment:fixed;
  color: #fff;
  .text{
    color: $font-color;
  }
  .header{
    position:absolute;
    bottom:110px;
    left:30%;
    width: 70%;
    .shadow{
      text-shadow: 0px 0px 3px #191919,0px 0px 10px #000;
    }
  }
  .meta{
    position:absolute;
    bottom: 10px;
    left:30%;
    height: 100px;
    width: 70%;
    .shadow{
      text-shadow: 0px 0px 1px #191919,0px 0px 5px #000;
    }
  }
  .stars{
    color: aqua;
  }

}
